.field-widget-chose-taxonomy div.ajax-progress {
  display: none;
}

.field-widget-chose-taxonomy input {
  display: none;
}

.field-widget-chose-taxonomy .form-type-checkbox label.option {
  display: inline-block;
  width: 90%;
  padding-right: 2%;
}
/*
.unlike-taxonomy-term, .like-taxonomy-term:hover {
  background: url('../images/negative-star.png') no-repeat scroll right center transparent;
}

.like-taxonomy-term, .unlike-taxonomy-term:hover {
  background: url('../images/positive-star.png') no-repeat scroll right center transparent;
}
*/
